# Environnement virtuel 
.venv/
venv/

# Fichiers Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Fichiers Mac
.DS_Store

# Fichier de la compilation PyInstaller.py
PcScan.spec
icon.icns
dist/
build/